<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">לדף הבית</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isAuth">
        <a routerLink="/signup">הרשמה</a>
      </li>
      <li  *ngIf="!isAuth">
        <a routerLink="/login">כניסה</a>
      </li>
      <li *ngIf="!isAuth" >
        <a routerLink="/personalzone">האיזור שלי</a>
      </li>
      <li *ngIf="isAuth">
        <a style="cursor: pointer" (click)="onLogout()">יציאה</a>
      </li>
      <li *ngIf="isAuth" class="yoel">
        {{userName}}
      </li>
    </ul>
  </div>
</mat-toolbar>
