<app-privatezonenav></app-privatezonenav>
<section class="signup-form">
  <form fxLayout="column"
   fxLayoutAlign="center center"
    fxLayoutGap="10px"
     [formGroup]="bookAvailibilityForm"     
       (ngSubmit)="onSubmit()">
  

        <button [disabled]="bookAvailibilityForm.invalid" type="submit" mat-raised-button>הוסף ספר</button>
        <mat-form-field>
        
          <input  
          formControlName="search"
           type="text"
            matInput 
            (input)="onInputChanged($event.target.value)"
            [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option.name">{{ option.name }}</mat-option>
        </mat-autocomplete>
     
  </form>
  <table mat-table [dataSource]="tblSrc" class="tblMyBooks mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <!-- <mat-checkbox (click)="$event.stopPropagation()" (change)="isAllSelected($event)" [checked]="selection.hasValue()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox> -->
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (change)="toggleRow(row)" [checked]="selection.isSelected(row)" (change)="$event ? selection.toggle(row) : null">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> שם </th>
      <td mat-cell *matCellDef="let user"> {{user.name}} </td>
    </ng-container>
    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef> אזימות 1 </th>
      <td mat-cell *matCellDef="let user"> {{user.latitude}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let book; columns: columnsToDisplay"></tr>


  </table>
</section>