a {
    text-decoration: none;
    color: white;
  }
  
  a:hover,
  a.active {
    color: wheat;
    font-size: 16px;text-decoration:underline  }
      ul li{list-style:none}
      /* .privateZoneNav{padding: 50px} */
      .privateZoneNav{background-color: rgb(29, 16, 99)}
