<div class="privateZoneNav" fxLayout="row" >  
    <div fxFlex fxLayout fxLayoutAlign="center center" fxHide.xs>
      <ul fxLayout fxLayoutGap="50px" class="navigation-items">
        <li *ngIf="isAuth">
          <a routerLink="/wishbooks" routerLinkActive="active">אני מעוניין</a>
        </li>
        <li *ngIf="isAuth">
          <a routerLink="/mybooks" routerLinkActive="active">הספרים שלי</a>
        </li>
        <li *ngIf="isAuth">
          <a routerLink="/booksavailibilty" routerLinkActive="active">בדוק זמינות ספר</a>
        </li>
      </ul>
    </div>
</div>
